* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
    text-decoration: none;
}

.profilePicture {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-bottom: 20px;
}

#introSection {
    margin: 100px 360px;
    text-align: center;
    color: aliceblue;
    padding: 50px;
    background-color: black;
}

#aboutSection {
    margin: 100px 360px;
    color: aliceblue;
    padding: 50px;
    background-color: teal;
}